@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none; }

h1 {
  color: #f8f8df;
  font-size: 84px;
  font-weight: 300; }

h2 {
  color: #f8f8df;
  font-size: 67px;
  font-weight: 300; }

h3 {
  color: #f8f8df;
  font-size: 54px;
  font-weight: 400; }

h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

.false-h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

h6 {
  color: #f8f8df;
  font-size: 28;
  font-weight: 700; }

h1 {
  color: #f8f8df;
  font-size: 84px;
  font-weight: 300; }

h2 {
  color: #f8f8df;
  font-size: 67px;
  font-weight: 300; }

h3 {
  color: #f8f8df;
  font-size: 54px;
  font-weight: 400; }

h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

.false-h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

h6 {
  color: #f8f8df;
  font-size: 28;
  font-weight: 700; }

.subtitle1 {
  color: #f8f8df;
  font-size: 22px;
  font-weight: 600; }

.body1 {
  color: #918e7e;
  font-size: 22px;
  font-weight: 400; }

.subtitle2 {
  color: #f8f8df;
  font-size: 18px;
  font-weight: 400; }

.button {
  color: #f8f8df;
  font-size: 18px;
  font-weight: 600; }

.caption {
  color: #f8f8df;
  font-size: 14px;
  font-weight: 400; }

.overline {
  color: #f8f8df;
  font-size: 11px;
  font-weight: 400; }

@media screen and (max-width: 767px) {
  /* Font system */
  h1 {
    color: #f8f8df;
    font-size: 32px;
    font-weight: 300;
    margin: 15px 0 40px 0; }
  h2 {
    color: #f8f8df;
    font-size: 29px;
    font-weight: 300;
    margin: 15px 0 40px 0; }
  h3 {
    color: #f8f8df;
    font-size: 26px;
    font-weight: 400;
    margin: 15px 0 40px 0; }
  h4 {
    color: #f8f8df;
    font-size: 23px;
    font-weight: 400;
    margin: 15px 0 40px 0; }
  h5 {
    color: #f8f8df;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 40px 0; }
  .false-h5 {
    color: #f8f8df;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 40px 0; }
  h6 {
    color: #f8f8df;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 40px 0; }
  .subtitle1 {
    color: #f8f8df;
    font-size: 16px;
    font-weight: 600; }
  .body1 {
    color: #918e7e;
    font-size: 16px;
    font-weight: 400; }
  .subtitle2 {
    color: #f8f8df;
    font-size: 14px;
    font-weight: 600; }
  .body2 {
    color: #918e7e;
    font-size: 14px;
    font-weight: 400; }
  .button {
    color: #f8f8df;
    font-size: 14px;
    font-weight: 600; }
  .caption {
    color: #f8f8df;
    font-size: 13px;
    font-weight: 400; }
  .overline {
    color: #f8f8df;
    font-size: 11px;
    font-weight: 400; } }

html {
  background-color: #29241d; }

body {
  -webkit-animation: fade-in 0.5s ease-in-out both;
  animation: fade-in 0.5s ease-in-out both; }

ul {
  list-style-type: none; }

a {
  color: #918e7e; }
  a:hover {
    color: #f8f8df;
    transition: color 0.5s; }

input {
  background-color: #524c44;
  border-color: #524c44;
  border-radius: 500px;
  border-width: 0px;
  color: #f8f8df;
  padding-left: 17px; }

footer {
  border-top: solid 1px #524c44; }

nav {
  border-bottom: solid 1px #524c44; }
  nav .nav-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px 15px 30px; }
    nav .nav-content_wrapper .logo {
      display: inline-block;
      height: 40px;
      width: auto; }
    nav .nav-content_wrapper .nav-link_wrapper {
      display: flex;
      flex-direction: row; }
      nav .nav-content_wrapper .nav-link_wrapper .nav-link {
        display: inline-block; }
      nav .nav-content_wrapper .nav-link_wrapper .nav-link + .nav-link {
        margin-left: 27px; }

.container {
  flex-grow: 1;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 10%);
  position: static;
  width: auto; }

@media screen and (max-width: 991px) {
  .container {
    max-width: calc(100vw - 5%); } }

@media screen and (max-width: 767px) {
  .container {
    max-width: calc(100vw - 5%); } }

@media screen and (max-width: 479px) {
  .container {
    max-width: calc(100vw - 2%); } }

.cta-1 {
  background-color: #cc8548;
  border-radius: 500px;
  border-width: 0px;
  color: #f8f8df;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  text-align: center; }
  .cta-1:hover {
    -webkit-animation: shadow-drop-center 0.4s ease-in-out both;
    animation: shadow-drop-center 0.4s ease-in-out both; }

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35); } }

.cta-2 {
  border: solid;
  border-color: #524c44;
  border-radius: 500px;
  border-width: 1px;
  color: #f8f8df;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  text-align: center; }
  .cta-2:hover {
    background-color: #f8f8df;
    color: #29241d;
    transition: background-color 0.5s;
    transition: color 0.5s;
    -webkit-animation: shadow-drop-center 0.4s ease-in-out both;
    animation: shadow-drop-center 0.4s ease-in-out both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.section-hero {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh; }
  .section-hero .hero-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .section-hero .hero-content_wrapper .hero-text_wrapper {
      display: flex;
      flex-direction: column; }
      .section-hero .hero-content_wrapper .hero-text_wrapper .hero-h1 {
        margin-bottom: 30px;
        max-width: 15ch; }
      .section-hero .hero-content_wrapper .hero-text_wrapper .hero-p {
        margin-bottom: 50px;
        max-width: 34ch; }
      .section-hero .hero-content_wrapper .hero-text_wrapper .hero-buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px; }
    .section-hero .hero-content_wrapper .hero-img {
      display: relative;
      height: 100%;
      width: 100%; }
    .section-hero .hero-content_wrapper .hero-img_mobile {
      clip-path: circle();
      display: none;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover; }

@media screen and (max-width: 991px) {
  .section-hero {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 5% 0 5% 0; }
    .section-hero .hero-content_wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .section-hero .hero-content_wrapper .hero-text_wrapper {
        display: flex;
        flex-direction: column;
        order: 2; }
        .section-hero .hero-content_wrapper .hero-text_wrapper .hero-h1 {
          margin-bottom: 30px;
          max-width: 15ch; }
        .section-hero .hero-content_wrapper .hero-text_wrapper .hero-p {
          margin-bottom: 50px;
          max-width: 34ch; }
        .section-hero .hero-content_wrapper .hero-text_wrapper .hero-buttons_wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 300px; }
      .section-hero .hero-content_wrapper .hero-img {
        display: none;
        height: 100%;
        width: 100%; }
      .section-hero .hero-content_wrapper .hero-img_mobile {
        clip-path: circle();
        display: relative;
        display: block;
        height: 100%;
        margin: 0 0 5% 0;
        object-fit: cover;
        width: 100%; } }

.section-services {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh; }
  .section-services .services-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section-services .services-content_wrapper .services-h2 {
      margin-bottom: 80px;
      max-width: 27ch;
      text-align: center; }
    .section-services .services-content_wrapper .services-cards_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%; }
      .section-services .services-content_wrapper .services-cards_wrapper .services-card_item {
        align-items: center;
        display: flex;
        flex-direction: column; }
        .section-services .services-content_wrapper .services-cards_wrapper .services-card_item .services-img {
          border-radius: 50px;
          height: 318px;
          object-fit: cover;
          overflow: hidden;
          width: 285px; }
