@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none; }

h1 {
  color: #f8f8df;
  font-size: 84px;
  font-weight: 300; }

h2 {
  color: #f8f8df;
  font-size: 67px;
  font-weight: 300; }

h3 {
  color: #f8f8df;
  font-size: 54px;
  font-weight: 400; }

h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

.false-h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

h6 {
  color: #f8f8df;
  font-size: 28;
  font-weight: 700; }

h1 {
  color: #f8f8df;
  font-size: 84px;
  font-weight: 300; }

h2 {
  color: #f8f8df;
  font-size: 67px;
  font-weight: 300; }

h3 {
  color: #f8f8df;
  font-size: 54px;
  font-weight: 400; }

h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

.false-h5 {
  color: #f8f8df;
  font-size: 34px;
  font-weight: 600; }

h6 {
  color: #f8f8df;
  font-size: 28;
  font-weight: 700; }

.subtitle1 {
  color: #f8f8df;
  font-size: 22px;
  font-weight: 600; }

.body1 {
  color: #918e7e;
  font-size: 22px;
  font-weight: 400; }

.subtitle2 {
  color: #f8f8df;
  font-size: 18px;
  font-weight: 400; }

.button {
  color: #f8f8df;
  font-size: 18px;
  font-weight: 600; }

.caption {
  color: #f8f8df;
  font-size: 14px;
  font-weight: 400; }

.overline {
  color: #f8f8df;
  font-size: 11px;
  font-weight: 400; }

html {
  background-color: #29241d; }

body {
  -webkit-animation: fade-in 0.5s ease-in-out both;
  animation: fade-in 0.5s ease-in-out both; }

ul {
  list-style-type: none; }

a {
  color: #918e7e; }

input {
  background-color: #524c44;
  border-color: #524c44;
  border-radius: 500px;
  border-width: 0px;
  color: #f8f8df;
  padding-left: 17px; }

footer {
  border-top: solid 1px #524c44; }

nav {
  border-bottom: solid 1px #524c44; }

.nav-content_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 30px 15px 30px; }

.logo {
  display: inline-block;
  height: 40px;
  width: auto; }

.nav-link_wrapper {
  display: flex;
  flex-direction: row; }

.nav-link {
  display: inline-block; }

.nav-link + .nav-link {
  margin-left: 27px; }

.container {
  flex-grow: 1;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw -10%);
  position: static;
  width: auto; }

.cta-1 {
  background-color: #cc8548;
  border-radius: 500px;
  border-width: 0px;
  color: #f8f8df;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  text-align: center; }

.cta-2 {
  border: solid;
  border-color: #524c44;
  border-radius: 500px;
  border-width: 1px;
  color: #f8f8df;
  display: inline-block;
  padding: 10px 25px 10px 25px;
  text-align: center; }
