html {
    background-color: $bg-color;
}

body {
    -webkit-animation: fade-in 0.5s ease-in-out both;
    animation: fade-in 0.5s ease-in-out both;
}

nav {
    border-bottom: solid 1px $bg-color-alternative;
}

ul {
    list-style-type: none;
}

a {
    color: $text-color-alternative;
}

input {
    background-color: $bg-color-alternative;
    border-color: $bg-color-alternative;
    border-radius: 500px;
    border-width: 0px;
    color: $text-color;
    padding-left: 17px;
}

footer {
    border-top: solid 1px $bg-color-alternative;
}