html {
    background-color: map-get($map: $paleta, $key: "bg-color");
}

body {
    -webkit-animation: fade-in 0.5s ease-in-out both;
    animation: fade-in 0.5s ease-in-out both;
}

ul {
    list-style-type: none;
}

a {
    color: map-get($map: $paleta, $key: "text-color-alternative");
    &:hover {
        color: map-get($map: $paleta, $key: "text-color");
        transition: color 0.5s;
    }
}

input {
    background-color: map-get($map: $paleta, $key: "bg-color-alternative");
    border-color: map-get($map: $paleta, $key: "bg-color-alternative");
    border-radius: 500px;
    border-width: 0px;
    color: map-get($map: $paleta, $key: "text-color");
    padding-left: 17px;
}

footer {
    border-top: solid 1px map-get($map: $paleta, $key: "bg-color-alternative");
}