.contact-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 83vh;
    justify-content: center;
    .contact-h2 {
        text-align: center;
    }
    .checkbox_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 25px 0;
        width: 100%;
    }
    .textarea {
        width: 100%;
    }
    .nombres {
        display: flex;
        flex-direction: row;
        margin: 0 0 15px 0;
    }
    .datos {
        display: flex;
        flex-direction: row;
    }
}

// Tablet breakpoint
@media screen and (max-width: 991px) {
    .nombres {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px 0;
    }
    .datos {
        display: flex;
        flex-direction: column;
    }
}