nav {
    border-bottom: solid 1px $bg-color-alternative;
}

.nav-content_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}

.logo {
    display: inline-block;
    height: 40px;
    width: auto;
}

.nav-link_wrapper {
    display: flex;
    flex-direction: row;
}

.nav-link {
    display: inline-block;
}

.nav-link+.nav-link {
    margin-left: 27px;
}